@use 'sass:map';
@import 'style/pages/theme';
.footer {
    background-color: #f3f6fa;
    padding-top: 70px;
    padding-bottom: 0;
    .footer__about {
        margin-bottom: 30px;

        .footer__about-logo {
            margin-bottom: 15px;
            display: inline-block;
        }
        ul li {
            font-size: 16px;
            color: map.get($theme-colors, 'normal-text');
            list-style: none;
            line-height: 36px;
        }
    }
    .footer_widget {
        margin-bottom: 30px;
        overflow: hidden;
        h4 {
            color: map.get($theme-colors, 'normal-text');
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        ul {
            float: left; //đưa hết qua 1 bên nó nhiều nó qua bên kia
            width: 50%;

            li {
                list-style: none;

                a {
                    color: map.get($theme-colors, 'normal-text');
                    font-size: 14px;
                    line-height: 32px;
                    text-decoration: none;
                }
            }
        }
        p {
            font-size: 14px;
            color: map.get($theme-colors, 'normal-text');
            margin-bottom: 30px;
        }
        form {
            margin-bottom: 30px;
            .input_group {
                display: flex;
                align-items: center;
                input {
                    width: 100%;
                    font-size: 16px;
                    padding-left: 15px;
                    color: map.get($theme-colors, 'normal-text');
                    height: 37px;
                    border: 1px solid #ededed;

                    ::placeholder {
                        color: map.get($theme-colors, 'normal-text');
                    }
                }
                button {
                    top: 0;
                    right: 0;
                    padding: 0 11px;
                    height: 37px;
                    min-width: max-content;
                }
            }
        }
    }
    .footer__widget_social {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 30px;

        div {
            :hover {
                background: map.get($theme-colors, 'main');
                color: #ffffff;
                border-color: #ffffff;
            }
            svg {
                font-size: 20px;
                padding: 10px;
                color: #404040;
                border: 1px solid #ededed;
                border-radius: 50%;
                background: #ffffff;
                transition: all 0.3s;
            }
        }
    }
}
