@import 'style/pages/all';
.cart-container{
    width: 870px ;
}
.cart-item{
   display: flex;
   justify-content: space-between;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.cart-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.cart-name{

}
.quantity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
  
.quantity-btn {
    background: none;
    border: none;
    font-size: 18px;
    color: #f26398;
    cursor: pointer;
    padding: 0 10px;
}
  
.quantity-display {
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: #333;
}

.cart-price{

}
.total-container{
    margin-top: 30px;
}
.total-header{
    display: flex;
    justify-content: space-between;
}
.total-text{
    font-size: 1.5rem;
    font-weight: 600;
    color:#f26398;
}
.total-price{
    font-size: 1.5rem;
    font-weight: 600;
}
.total-btn{
    margin-top: 20px;
    border : none;
    background-color: #f26398;
    color: white;
    padding: 20px;
    font-size: 1.3rem;
    padding: 16px 35px;
    float: right;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}