@use 'sass:map';
@import 'style/pages/all';
@import 'style/pages/theme';
@import 'style/pages/_responsive';
$bannerImg: '/assets/users/images/hero/banner.webp';
.header__top {
    background-color: #f5f5f5;
}
.header__top_left {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 10px 0 13px;
        column-gap: 20px;

        li {
            font-size: 14px;
            color: map.get($theme-colors, 'normal-text');
            display: flex;
            align-items: center;
            column-gap: 2px;
        }

        li:first-child {
            position: relative;
            &::after {
                position: absolute;

                right: -10px;
                top: 1px;
                width: 1px;
                height: 20px;
                background: #000000;
                opacity: 0.1;
                content: '';
            }
        }
    }
}
.header__top_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, 'normal-text');
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
            span {
                font-size: 14px;
                margin-left: 2px;
            }
        }
    }
}
.header__logo {
    padding: 15px 0;
}
.header__menu {
    ul {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;

        li {
            list-style: none;
            position: relative;

            a {
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-colors, 'bold-text');
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.3s;
                padding: 5px 0;
                display: block;
            }
        }
        li:hover .header__menu_dropdown {
            opacity: 1;
            visibility: visible;
        }

        .active a {
            color: map.get($theme-colors, 'main');
        }
        .header__menu_dropdown {
            display: block;
            background-color: #f2ced8;
            position: absolute;
            width: 180px;
            visibility: hidden;
            transition: all 0.3s;
            opacity: 0;
            z-index: 9;
            padding: 5px 0;

            li {
                a {
                    text-transform: capitalize; //viết hoa chữ cái đầu
                    // color: #f26398;
                    color: #000000;
                    padding: 5px 15px;
                    font-weight: 600;
                }
                :hover {
                    color: map.get($theme-colors, 'main');
                }
            }
        }
    }
}
.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
        display: flex;
        margin-right: 25px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
                color: map.get($theme-colors, 'normal-text');
            }
            span {
                position: absolute;
                color: white;
                background-color: map.get($theme-colors, 'main');
                width: 20px;
                height: 20px;
                line-height: 20px;
                border-radius: 40px;
                font-size: 13px;
                font-weight: 500;
                display: inline-block;
                text-align: center;
                right: -10px;
                top: -10px;
            }
        }
    }
}
.hero__categories_container {
    .hero__categories {
        position: relative;

        .hero__categories_all {
            background: map.get($theme-colors, 'main');
            padding: 10px 20px 10px 23px;
            display: flex;
            align-items: center;
            color: #ffffff;
            cursor: pointer;
            font-weight: 600;

            svg,
            span {
                font-size: 16px;
                margin-right: 10px;
            }
            svg {
                font-size: 20px;
                font-weight: bold;
            }
        }
        ul {
            position: absolute;
            opacity: 1;
            border: 1px solid #ebebeb;
            width: 99%;
            background-color: #ffffff;
            transition: all 0.2s;
            li {
                list-style: none;

                a {
                    text-decoration: none;
                    background-color: transparent;
                    font-size: 16px;
                    line-height: 36px;
                    color: map.get($theme-colors, 'normal-text');
                    display: block;
                    padding-left: 40px;
                }
                &:hover {
                    background: #f7ffff;
                    a {
                        color: map.get($theme-colors, 'main');
                    }
                }
            }
            &.hidden {
                opacity: 0;
            }
        }
    }
    .hero__search_container {
        .hero__search {
            display: flex;

            .hero__search__form {
                width: 610px;
                height: 50px;
                float: left;
                padding-left: 15px;

                form {
                    display: flex;
                    align-items: center;
                }

                input {
                    border: none;
                    height: 40px;
                    font-size: 14px;
                    color: #b2b2b2;
                    padding-left: 20px;
                    border: 2px solid #ebebeb;
                    width: 70%;

                    &:focus {
                        outline: none;
                        border-color: map.get($theme-colors, 'main');
                    }
                }
                button {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #ffffff;
                    border: none;
                    background: map.get($theme-colors, 'main');
                    padding: 12px 14px 13px;
                    display: inline-block;
                    height: 100%;
                }
            }
            .hero__search__phone {
                display: flex;
                align-items: center;
                // width: 50%;

                .hero__search__phone_icon {
                    font-size: 21px;
                    padding: 8px;
                    line-height: 50px;
                    background-color: #f5f5f5;
                    text-align: center;
                    border-radius: 50%;
                    float: left;
                    margin-right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: map.get($theme-colors, 'main');
                }
                .hero__search__phone_text {
                    display: inline-block;

                    p {
                        color: map.get($theme-colors, 'normal-text');
                        font-weight: bold;
                        margin-bottom: 2px;
                    }
                    span {
                        color: #6f6f6f;
                        font-size: 14px;
                    }
                }
            }
        }
        .hero__item {
            margin-top: 10px;
            margin-left: 15px;
            background-image: url($bannerImg);
            background-image: no-repeat;
            background-size: contain;
            height: 232px;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .hero__item_btn {
                margin-left: 25px;
                margin-bottom: 50px;

                a {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    display: inline-block;
                    padding: 10px 17px 10px;
                    text-decoration: none;
                    color: #ffffff;
                    background: map.get($theme-colors, 'main');
                }
            }
        }
    }
}
.humberger__menu_wrapper {
    display: none;
}
@include Responsive($TABLET_DEVICE) {
    .header__top,
    .header__menu,
    .header__cart {
        display: none;
    }
    .humberger__open {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        svg {
            font-size: 28px;
            color: map.get($theme-colors, 'normal-text');
        }
    }
    .humberger__menu_wrapper {
        position: fixed;
        width: 300px;
        height: 100%;
        background: #ffffff;
        overflow-y: auto;
        z-index: -9999;
        padding: 30px;
        padding-top: 50px;
        display: block;
        opacity: 0;
        transition: all 0.6s;

        &.show {
            opacity: 1;
            z-index: 9999;
        }

        .header__menu_cart {
            display: flex;
            align-items: center;
            .header__cart_price {
                color: #6f6f6f;
                font-size: 14px;

                span {
                    color: map.get($theme-colors, 'normal-text');
                    font-weight: 700;
                }
            }
            ul {
                list-style: none;
                display: inline-block;
                margin-right: 15px;

                li:last-child {
                    margin-right: 0;
                }

                li {
                    position: relative;

                    a {
                        color: map.get($theme-colors, 'normal-text');
                        font-size: 18px;
                        svg {
                        }
                        span {
                            position: absolute;
                            background: map.get($theme-colors, 'main');
                            color: white;
                            height: 20px;
                            // width: 20px;
                            left: 11px;
                            top: -10px;
                            border-radius: 40px;
                            line-height: 20px;
                            display: inline-block;
                            font-size: 13px;
                            text-align: center;
                            font-weight: 500;
                            padding: 0 7px;
                        }
                    }
                }
            }
        }
    }
    .humberger__menu_overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        visibility: hidden;
        transition: all 0.6s;
        &.active {
            visibility: visible;
        }
    }

    .humberger__menu_widget {
        margin-bottom: 20px;

        .header__top_right_auth a {
            display: block;
            font-size: 14px;
            color: map.get($theme-colors, 'normal-text');
            a {
                text-decoration: none;
            }
        }
    }
    .humberger__menu_nav {
        margin-bottom: 20px;

        ul {
            list-style: none;
            li {
                padding: 8px 0;
                border-bottom: 1px solid #e1e1e1;
                a {
                    color: map.get($theme-colors, 'normal-text');
                    font-size: 16px;
                    font-weight: 500;
                    text-decoration: none;
                    svg {
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
            }
        }
        .header__menu__dropdown {
            display: none;
            padding: 5px 0;

            li {
                margin-left: 10px;
                display: block;
                margin-right: 0;

                &:last-child {
                    border-bottom: unset;
                }
            }
        }
        .show__submenu {
            display: block;
        }
    }
    .header__top_right_social {
        display: block;
        margin-bottom: 20px;
        margin-right: 0;

        a {
            font-size: 14px;
            color: map.get($theme-colors, 'normal-text');
            display: inline-block;
            margin-right: 25px;
            svg {
                font-size: 20px;
            }
        }
    }
    .humberger__menu_contact {
        ul li {
            display: inline-block;
            font-size: 14px;
            color: map.get($theme-colors, 'normal-text');
            margin-bottom: 10px;
        }
    }
}
