// SearchResults.scss

.search-result {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; // Đảm bảo hiển thị lên trên các phần tử khác
    max-height: 300px; // Giới hạn chiều cao của danh sách
    overflow-y: auto; // Cuộn nếu nội dung quá dài
    margin-top: 5px; // Khoảng cách giữa input và danh sách kết quả
    
    .search-item {
        display: flex; // Sắp xếp theo hàng
        align-items: center; // Căn giữa theo chiều dọc
        padding: 10px; // Khoảng cách bên trong
        cursor: pointer; // Thay đổi con trỏ khi hover
        transition: background-color 0.3s; // Hiệu ứng chuyển màu nền

        &:hover {
            background-color: #f1f1f1; // Màu nền khi hover
        }

        img {
            width: 50px; // Chiều rộng hình ảnh
            height: 50px; // Chiều cao hình ảnh
            object-fit: cover; // Cách hiển thị hình ảnh
            margin-right: 10px; // Khoảng cách bên phải hình ảnh
            border-radius: 4px; // Bo tròn góc
        }

        span {
            flex: 1; // Phân phối không gian đều giữa các phần tử
            
            &:first-child {
                font-weight: bold; // Đậm cho tên sản phẩm
            }

            &:nth-child(2) {
                color: #f26398; // Màu cho giá sản phẩm
            }

            &:last-child {
                color: #6c757d; // Màu cho số lượng
                margin-left: 10px; // Khoảng cách giữa giá và số lượng
            }
        }
    }
}
.no-results{
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 1rem;
    border-radius: 4px;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; // Đảm bảo hiển thị lên trên các phần tử khác
    max-height: 300px; // Giới hạn chiều cao của danh sách
    overflow-y: auto; // Cuộn nếu nội dung quá dài
    margin-top: 5px; // Khoảng cách giữa input và danh sách kết quả
}
