@use 'sass:map';
@import 'style/pages/all';
.order-list-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    button {
        background-color: #f26398; // Màu chính của bạn
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        margin: 0 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken(#f26398, 10%);
        }

        &.active {
            background-color: darken(#f26398, 15%);
        }
    }
}

.order-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0;
    position: relative; 
    height: 100px;
   
    .order-details {
        margin-bottom: 5px;
    }
    
   
    .total-status {
        position: absolute;
        right: 15px;
        top: 12px; 
        text-align: right; 
        padding: 5px; 
        border-radius: 5px; 
       font-size: 1.2rem;
    }
    .cancel-order-btn {
        background-color: #ff4d4f;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        position: absolute;
        right: 15px;
        bottom: 15px;

        &:hover {
            background-color: #ff7875;
        }
    }
}